body {
/* legit scrolling */
    height: auto;
    min-height: 100%;
}
/* chosen-select scaling - chosen doesn't support font-size or any reasonable
 * method of scaling their autocomplete, so I just transform:scale() it. */
.chzn-container {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
/* END chosen-select scaling */
/* Main screen loading splash fade in */
#appfadein {
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background-color: white;
}

#appfadein.hidden {
    display: none;
}

#appfadein > img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -256px;
    margin-left: -256px;
}
/* END Main screen loading splash fade in */
/* SignIn page mark required fields */
div.required label:before {
    content: '* ';
    color: #ccc;
}
/* END SignIn page mark required fields */
/* SignIn page general */
#signInContainer:before {
    content: '';
    position: absolute;
    top: 0;
    width: 600px;
    height: 175px;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: url(/resources/open-book.jpg);
}

#signInContainer {
    position: relative;
    padding-top: 3em;
    width: 600px;
    min-height: 1024px;
    background-image: url(/resources/inner-book.png);
    background-repeat: repeat-y;
    background-position-y: 0.5em;
}

#signInContainer #title {
    padding-left: 2.5em;
    text-align: left;
}

#signInContainer #signInDiv {
    margin-top: 3.5em;
    padding-bottom: 10em;
}

#signInContainer #signInDiv label {
    font-size: 0.9em;
    line-height: 1.5em;
    width: 8em;
}

#signInContainer a.button {
    font-size: 1em;
    position: absolute;
    margin-top: 2.5em;
    margin-left: 5.67em;
    border: 1px solid #aaa;
}
/* END SignIn page general */
/* SignIn page signature/photo capture */
#photo_canvas {
    display: none;
}

#emailBeforePhoto {
    font-size: 0.5em;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-left: 4.5em;
    width: 31em;
    text-align: center;
    background: white;
    border-radius: 0.5em;
}

#signature_display {
    font-size: 0.67em;
    display: inline-block;
    padding: 1px;
    margin-top: -1em;
    width: 40%;
    line-height: 2em;
    text-align: center;
    border: 2px inset #eee;
    border-radius: 4px;
    background: white;
    color: lightblue;
    font-weight: lighter;
    cursor: pointer;
}

#signature_canvas {
    display: none;
    opacity: 0;
    height: 0;
 /* height: 3.5em; */    
    position: absolute;
    padding: 1px;
    margin-top: -1em;
    margin-left: -4.7em;
    width: 13.6em;
    border: 2px inset #eee;
    border-radius: 4px;
    background: white;
    cursor: pointer;
}
/* END SignIn page signature/photo capture */
/* QR Scanner triangle button */
.qrcorner {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 128px;
    height: 128px;
    overflow: hidden;
    text-align: right;
    background-image: url(/resources/qr_corner.png);
    z-index: 10;
    opacity: 0.8;
}

.qrcorner:after {
    content: 'Click to Scan Badge';
    display: inline-block;
    position: relative;
    top: 6.95em;
    right: 0.4em;
    padding-top: 0.5em;
    margin-top: 0.35em;
    width: 10em;
    background: white;
    text-decoration: none;
    text-align: center;
    color: blue;
    opacity: 1;
    -webkit-transform-origin:  top right;
    -webkit-transform: rotate(45deg);
}
/* end QR Scanner */
/* Admin page search pulldown */
#searchResults {
    text-align: center;
}

#searchResults > table {
    display: inline-block;
    text-align: left;
}

#searchResults > table th {
    padding: 0.5em;
    border-bottom: 1px solid black;
}

#searchResults > table td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#searchFields {
    text-align: center;
}

#searchFields label {
    float: none;
    display: inline-block;
    margin-top: 0.2em;
    width: 3em;
}

#searchFields select {
    width: 10em;
}
/* END Admin page search pulldown */
/* Main page title/subtitle */
#mainContainer h1,
#mainContainer h2 {
    position: absolute;
    z-index: 8;
    width: 100%;
    text-align: center;
    text-shadow: white 0 0 0.3em;
}

#mainContainer #title {
    font-size: 3em;
    top: 1.5em;
}

#mainContainer #subtitle {
    top: 7em;
}
/* END Main page title/subtitle */
/* Sign In page Agreement + Admin page password gate */
#password_gate h1 {
    font-size: 3em;
}

#password_gate input[type=password] {
    font-size: 3.5em;
    width: 8em;
}

#password_gate input[type=password].loading {
    background-image: url(/resources/loading.gif);
    background-repeat: no-repeat;
    background-position: 95%;
}

#password_gate input[type=button] {
    font-size: 2.5em;
    margin-top: 1.1em;
    margin-bottom: 0.6em;
    -webkit-appearance: button;
    border-radius: 0.4em;
    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);    
}

#loading,
#agreement,
#password_gate {
    position: absolute;
    z-index: 10001;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 15em 5em rgba(0,0,0,0.7) inset;
}

#loading > div:last-child,
#agreement > div,
#password_gate > div {
    position: relative;
    display: inline-block;
    top: 50%;
    padding: 1em;
    padding-bottom: 1.5em;
    margin-top: -37.5%;
    width: 75%;
    max-height: 75%;
    background: white;
}

#agreement > div > a {
    display: inline-block;
    padding: 0.75em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin: 0.5em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    border-radius: 0.5em;
    border: 1px solid #ddd;
    cursor: pointer;
}

#agreement .text {
    font-size: 1em;
    padding: 1.5em;
    padding-top: 0;
    padding-bottom: 1em;
    line-height: 1.75em;
    text-indent: 2em;
    text-align: justify;
    font-family: Serif;
}
/* END Sign In page Agreement */
/* SignIn page loading while signing in */
#loading > div:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 12px;
    margin-top: -45px;
    margin-left: -45px;
    width: 66px;
    height: 66px;
    max-height: 75%;
    border-radius: 12px;
    box-shadow: 0 0 3em 0.5em white;
    background-color: white;
    background-image: url(/resources/signin_loading.gif);
    background-position: 12px 12px;
    background-repeat: no-repeat;
}

#loading > .message {
    font-size: 2em;
    position: absolute;
    top: 25%;
    left: 50%;
    padding: 0.5em;
    margin-top: -2em;
    margin-left: -5.5em;
    width: 10em;
    font-style: italic;
    font-family: 'Times New Roman', serif;
    border-radius: 0.5em;
    background-color: white;
    border: 1px outset #ccc;
    box-shadow: 0 0 0.25em 0.1em white;
}
/* END SignIn page loading */
/* Front page slideshow */
#bgimage {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: #333;
    background-image: url(/resources/textured_stripes.png);
}

#bgimage > div {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #333;
}

#bgimage > div > img {
    position: absolute;
    top: 0;
    left: 50%;
}
/* END front page slideshow */
/* Front page login area */
/* - Email form on front page */
#buttons {
    z-index: 8;
}

.quickUse {
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 0.15em;
    width: 14.35em;
    border-radius: 0.2em;
}
/* - buttons under email form on front page */
.login.button {
    font-size:3.5em;
}

.login.button {
    margin-left: 0.25em;
}

.login.button.signin {
    margin-left: 0;
    margin-right: 0.25em;
}

#adminButton {
    position: absolute;
    right: 2em;
    bottom: 4em;
}

#adminButton:active {
    padding: 26px 36px;
    margin-right: -25px;
    margin-bottom: -10px;
}
/* END front page login area */
/* admin page */
.savestatus {
    font-size: 0.5em;
    text-align: center;
}

.savestatus > span {
    padding: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
    border: 1px outset #ccc;
    background: white;
}

.page.noscroll {
 /* set max-height to screen height */
    max-height: 1024px;
}

.simplemodal-container form .rightHeadLabel.left {
    margin-left: 7.1em;
}

.simplemodal-container form .rightHeadLabel {
    font-size: 0.67em;
    display: inline-block;
    margin-left: 0.3em;
    width: 9em;
    text-align: center;
    text-indent: -0.5em;
}

.simplemodal-container .designForm .messages.top {
    margin-top: -0.4em;
}

.simplemodal-container .designForm .messages > input {
    display: inline-block;
    margin-left: 0.5em;
    width: 7em;
}

.simplemodal-container .designForm .messages > label {
    width: 4.5em;
}

.simplemodal-container #signinsetup .line,
.designForm .line {
    width:90%;
    opacity:.1;
    margin-top: 0.5em;
    margin-left: 0.8em;
    margin-bottom: 0.25em;
}

.simplemodal-container #signinsetup label,
.designForm label {
    font-size: 0.67em;
    padding-top: 0.3em;
    margin-top: 0.5em;
    width: 11.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.simplemodal-container #signinsetup select,
.designForm select {
    margin-top: 0.5em;
    width: 8em;
}

.simplemodal-container #signinsetup .submit,
.designForm .submit {
    position: relative;
    left: 50%;
    top: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -2.8em;
    width: 5.6em;
    height: 2em;
    border-radius: 0.4em;
    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
}

.simplemodal-container #signinsetup input[type=text],
.designForm input[type=text],
.designForm input[type=password] {
    margin-top: 0.5em;
    font-size: 0.8em;
}

.simplemodal-container #signinsetup input[type=checkbox] {
    width: auto;
    margin-left: -0.9em;
    vertical-align: middle;
}

.designForm input[type=checkbox] {
    margin-top: 0.735em;
}

.designForm input[type=button] {
    font-size: 0.69em;
    width: auto;
    margin-top: 0.5em;
    border-radius: 0.4em;
    background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
}

.designForm input[type=button].pushed {
    background: -webkit-linear-gradient(#E5E5E5, #F4F4F4 60%, #FAFAFA);
    border-style: inset;
}

.designForm textarea {
    font-size: 0.6em;
    padding: 0.5em;
    margin-top: 0.4em;
    margin-left: 1.8em;
    width: 84.5%;
    min-height: 100px;
    line-height: 1.5em;
    font-family: Serif;
    resize: vertical;
}

.designForm .photoset {
    display: block;
    margin-top: 0.5em;
    padding-left: 1em;
}

.designForm .photoset > a {
    display: inline-block;
    vertical-align: top;
    padding-top: 0.3em;
    margin-top: 14px;
    width: 1.5em;
    height: 1.2em;
    color: #444 !important;
    background-color: #ddd;
    border-radius: 0.75em;
    border: 1px solid #888;
    text-align: center;
    cursor: pointer;
}

.designForm .photoset > div {
    display: inline-block;
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
}

.designForm .photoset img {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.designForm .photoset img:not(:last-child) {
    margin-right: 0.2em;
}

.designForm .popin {
    position: relative;
    display: inline-block;
    top: 0.2em;
    left: 50%;
    padding-bottom: 0.2em;
    margin-left: -7.15em;
    width: 14.3em;
    background: #ddd;
    border-radius: 0.5em;
    text-align: center;
}

.designForm .popin:before {
    position: absolute;
    content: '`';
    color: #eee;
    margin-top: 1.7em;
    margin-left: -1.2em;
    border-left: 0.2em solid #ddd;
    border-bottom-left-radius: 0.5em;
}

.designForm .popin > input[type=text] {
    position: relative;
    font-size: 0.8em;
    width: 14em;
    border-style: outset;
    border-color: #ccc;
    border-color: buttonface;
}

.designForm .popin > input[type=button] {
    position: relative;
    top: -0.1em;
    margin-left: -0.6em;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#add_series {
    font-size: 0.65em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
/* END admin page */

.medium.button {
    font-size: 0.67em;
}

#searchbar {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

#buttons {
	height: 18em;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #333333;
	text-align: center;
}

#backgroundImg {
	position: absolute;
	width: 100%;
	height: 80%;
}

#body {
	background-color: #333333;
}

.submit {
	/*border: 1px solid #006;*/
	font-weight: bold;
	font-size: 105%;
	position: relative;
	left: 40%;	
	right: 40%;
	width: 20%;
}

.otherSubmit {
	/*border: 1px solid #006;*/
	font-weight: bold;
	font-size: 105%;
	position: relative;
	left: 20%;	
	right: 20%;
	width: 60%;
}

form {
	/*background-color: #e5c161;*/
	margin: 0%;
	padding: 0%;
	font-size:27px;
	width: 100%;
}

input {
	width: 40%;
}

fieldset {
	padding-left: 0px;
	border: 0;
}

label {
	float:left;
	width: 40%;
	padding:0 1em;
	text-align:right;
}


.button, .buttonosx, .buttonbasic, .buttonsearchosx, .buttondesignosx, .buttonsearchosxtest{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:1.3em;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
	

}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

h1 {
	text-align:center;
	color:#000000;
}
h2 {
	text-align:center;
	color:#000000;
}
.ui-autocomplete-category {
		font-weight: bold;
		padding: .2em .4em;
		margin: .8em 0 .2em;
		line-height: 1.5;
		}
		
select {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
 	background-image: url(/resources/select-arrow.png),
 	  -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 94% 50%;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: 20px;
	margin: 0;
	overflow: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 35px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.adminButton  {
	-moz-box-shadow:inset 0px 1px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 1px 0px 0px #000000;
	box-shadow:inset 0px 1px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #454545), color-stop(1, #9c9c9c) );
	background:-moz-linear-gradient( center top, #454545 5%, #9c9c9c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#9c9c9c');
	background-color:#454545;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #525252;
	display:inline-block;
	color:#000000;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:5px 11px;
	text-decoration:none;
	text-shadow:1px 1px 0px #666666;
}.adminButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9c9c9c), color-stop(1, #454545) );
	background:-moz-linear-gradient( center top, #9c9c9c 5%, #454545 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c9c9c', endColorstr='#454545');
	background-color:#9c9c9c;
}
#divider {
	border-top: 1px dotted #000000;
	height: 2px;
	text-align: center;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	margin-bottom: 3%;
}
