<link rel="stylesheet" href="css/jquery.ui.all.css">
<link rel="stylesheet" href="css/demos.css">


<!-- Page styles -->
<style type="text/css">
label {
	text-align:left;
	font-size:20px;
}
#in {
	color: #000000; 
	font-size:50px;
	position:relative;
	top:-565px;
	left:47%;
	width:20%;
}
#out {
	color: #000000;
	font-size:50px;
	position:relative;
	top:-205px;
	left:43%;
	width:20%;
}
.ui-autocomplete-category {
	font-weight: bold;
	padding: .2em .4em;
	margin: .8em 0 .2em;
	line-height: 1.5;
}
#current {
	color: #000000;
	font-size:35px;
	position:relative;
	top:-550px;
	left:35%;
	width:50%;
}
#counters{
	position:relative;
	top:5px;
	left:28%;
	width: 60%;
}
#head{
	background-color: #444444;
	color:#ffffff;
	height:60px;
}
#header{
	position:relative;
	top:20px;
	text-align:center
}
#test{
	color:#ffffff;
	position:relative;
	top:12px;
}
#done{	
	position:relative;
	top:12px;
	left:5%;
}
#setup { 
	position:relative;
	top:12px;
	left:13%;
}
#searchy {
	position:relative;
	top:12px;
	left:22%
}
#design {
	position:relative;
	top:12px;
	left:30%
}
#osx-modal-title  {
	position:relative;
	top:-13px;
}
#simplemodal-close {
	position:relative;
	top:0px;
}
#osx-modal-data {
	position:relative;
	top:-13px;
}

#osx-modal-overlay{
	position:relative;
	top:60px;
}


#lastsel{ 
	margin-bottom:-9%; 
}
</style>

<div id="password_gate">
    <div>
        <h1>Password Required</h1>
        <input type="password" />
        <input type="button" value="Submit" />
    </div>
</div>

<!-- All the buttons and the header -->
<div id='basic-modal'>
	<header id=head>
		<a href="#" class="button" id= done>Done</a>
		<input type='button' style="width:15%" name='basic' value='Setup' class='buttonosx buttonsetuposx' id='setup' />
		<input type='button' style="width:16%" name='basic' value='Search' class='buttonsearchosx' id='searchy' />
		<input type='button' style="width:16%" name='basic' value='Design' class='buttondesignosx' id='design' />
</header>
</div>

<!-- Currently just a holder for the non-osx popups -->
<div id="basic-modal-content">
	<h3>Basic Modal Dialog</h3>
	<p>xzcvxzcvzvzxcvzx</p>
</div>
		
<!-- The Setup Button -->
<div id="osx-modal-content-setup">

    <!--The triangle that points to the button -->
    <div id="triangle-up" style="position:relative;top:-17px;left:165px"></div>
	
    <!-- Title of the popup -->
	<div id="osx-modal-title">Setup</div>
	
	<!--The little x button -->
    <div class="close"><a href="#" class="simplemodal-close" id="simplemodal-close">x</a></div>
	<div id="osx-modal-data">
    	<div id="signInDiv">
    		<form class="signinform" id="signinsetup" onsubmit="saveSettings(event)" height="100%">
    		    <label for="field_firstName">First Name</label>
    			<select id="field_firstName" name="first_name">
    			    <option value="-1">Hidden</option>
    			    <option value="0">Optional</option>
    			    <option value="1">Required</option>
    			</select>
    			<br>
    			<label for="field_lastName">Last Name</label>  
    			<select id="field_lastName" name="last_name">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<br>		
    			<label for="field_company">Company</label>
    	        <select id="field_company" name="company">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
                <img src="resources/line.png" class="line"/>
    			<br/>
    			<label for="field_address1">Address</label>
    			<select id="field_address1" name="address_1">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<br>
    			<label for="field_address2">Address Line 2</label>
    			<select id="field_address2" name="address_2">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<br>
    			<label for="field_city">City</label>
    			<select id="field_city" name="city">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<br>
    			<label for="field_province">Province/State</label>
    			<select id="field_province" name="province_state">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<br>
    			<label for="field_postal" >Postal/Zip code</label>
    			<select id="field_postal" name="postal_zipcode">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<img src="resources/line.png" class="line"/>
    			<br/>
    			<label for="field_phone">Phone</label>
    			<select id="field_phone" name="phone">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<br>
    			<label for="field_email">Email</label>
    			<select id="field_email" name="email">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
                <img src="resources/line.png" class="line"/>
    			<br/>
    			<label for="field_hereToSee">Here To See</label>
    			<select id="field_hereToSee" name="here_to_see">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<br>
    			<label for="field_photo">Photo Capture</label>
    			<select id="field_photo" name="photo_capture">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<br>
    			<label for="field_signature">Signature Capture</label>
    			<select id="field_signature" name="signature_capture">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
                <img src="resources/line.png" class="line"/>
    			<br/>
    			<label for="field_escort">Guide/Escort name</label>
    			<select id="field_escort" name="guide_escort_name">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
                <img src="resources/line.png" class="line"/>
    			<br/>
    			<label for="field_vehicletype">Vehicle Make</label>
    			<select id="field_vehicletype" name="vehicle_make">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<br>
    			<label for="field_vehiclecolor">Colour</label>
    			<select id="field_vehiclecolor" name="vehicle_color">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
    			<br>
    			<label for="field_vehiclelic">License Plate</label>
    			<select id="field_vehiclelic" name="license_plate">
                    <option value="-1">Hidden</option>
                    <option value="0">Optional</option>
                    <option value="1">Required</option>
    			</select>
                <img src="resources/line.png" class="line"/>
    			<br/>
    			<div class="custom_fieldset endless">
        			<label for="field_custom_field1">Custom Field 1</label>
        			<input type="checkbox" id="field_custom_enable1" name="custom_enable1" />
        			<input type="text" id="field_custom_field1" name="custom_field1" />
                    <br/>
    			</div>
    	        <!-- Submit button -->
    	        <div class="savestatus"><span></span></div>
    			<input type="submit" class="submit" id="prepareButton" name="prepareButton" value="Save" />
    		</form>
    	</div>
	</div>
</div>


<!-- When the search button is pressed -->
<div id="osx-modal-content-search">
    <div id="triangle-up" style="position:relative;top:-17px;left:330px"></div>
    <div id="osx-modal-title">Search</div>
	<div class="close"><a href="#" class="simplemodal-close">x</a></div>
	<div id="osx-modal-data">
        <form onsubmit="searchGuests(event)" id="searchform">
        <div id="searchFields">
            <label for="field_options">Field</label>  
            <select id="field_options" name="field_options">
                <option value="">Choose an option...</option>
                <option value="full_name">Full Name</option>
                <option value="first_name">First Name</option>
                <option value="last_name">Last Name</option>
                <option value="company">Company</option>
            </select>
            <br />
            <label for="searchForm">From</label>  
            <select id="searchForm" name="year_from">
                <option value="">Choose an option...</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
            </select>
            <br />
            <label for="searchTo">To</label>  
            <select id="searchTo" name="year_to">
                <option value="">Choose an option...</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
            </select>
            <br />
            <center>
                 <input type="textbox" name="query" id="searchbar" placeholder="search" /><br/>
                 <input type="submit" name="submit" value="Search Guests" class="button medium" />
            </center><!--making it centered-->
            <br />
            
        </div>
        </form>
        
        <div id="searchResults">
        </div>	    
	</div>
</div>
	
<!-- When the design button is pressed -->
		
<div id="osx-modal-content-design">
<div id="triangle-up" style="position:relative;top:-17px;left:470px"></div>
	<div id="osx-modal-title">Design</div>
	<div class="close"><a href="#" class="simplemodal-close">x</a></div>
		<div id="osx-modal-data">
			<div id="designDiv">
				<form class="designForm" id="signindesign" onsubmit="saveDesign(event);" height="100%">
                    <fieldset>
                        <label for="set_title">Title</label>
                        <input type="text" id="set_title" name="title" />
                    </fieldset>
                    <fieldset>
                        <label for="set_subtitle">Subtitle</label>
                        <input type="text" id="set_subtitle" name="subtitle" />
                    </fieldset>
                    <fieldset>
                        <label for="set_font">Font Family</label>
                        <select id="set_font" name="font">
                            <option value="Arial">Arial</option>
                            <option value="Times New Roman">Times New Roman</option>
                            <option value="FuturaBT Bold">FutureBT Bold</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label for="set_font_color">Font Color</label>
                        <input type="text" id="set_font_color" name="font_color" />
                    </fieldset>
                    <img src="resources/line.png" class="line"/>
                    
                    
				    <fieldset>
    				    <label for="use_photoseries">Choose Photoseries</label>
    				    <select id="use_photoseries" name="photoseries">
    				    </select>
    				    <input type="button" value="+" id="add_series" />
                        <br/>
                        <div class="photoset">
                            <a class="navleft">&larr;</a>
                            <div>
                            </div>
                            <a class="navright">&rarr;</a>
                        </div>
    				</fieldset>
    				<fieldset class="popin">
    				    <input type="text" placeholder="http://eg.com/img.jpg" />
    				    <input type="button" value="Save" />
    				</fieldset>
    				<fieldset>
        			    <label for="update_photoseries">Update Photos</label>
        			    <input type="hidden" name="series_photos_attributes" id="photo_list" />
        			    <input type="button" value="Add" id="update_photoseries" />
        			    <input type="button" value="Remove" id="remove_photo" />
				    </fieldset>
                    <img src="resources/line.png" class="line"/>
                    
                    
                    <fieldset>
                        <label for="set_badge_logo">Badge Logo</label>
                        <input type="text" name="badge_logo" id="set_badge_logo" placeholder="http://eg.com/img.jpg" />
                    </fieldset>
                    <fieldset>
                        <label for="set_print_after">Print After Sign In</label>
                        <input type="checkbox" name="print_after_signin" id="set_print_after" />
                    </fieldset>
                    <fieldset>
                        <label for="set_default_email">Default Email</label>
                        <input type="text" name="default_email" id="set_default_email" />
                    </fieldset>
                    <fieldset>
                        <label for="set_email_after">Email After Sign In</label>
                        <input type="checkbox" name="email_after_signin" id="set_email_after" />
                    </fieldset>
                    <img src="resources/line.png" class="line"/>
                    
                    
                    <span class="rightHeadLabel left">Success</span>
                    <span class="rightHeadLabel">Error</span>
                    <fieldset class="messages top">
                        <label for="set_message_signin_success">Sign In</label>
                        <input type="text" name="message_signin_success" id="set_message_signin_success" />
                        <input type="text" name="message_signin_fail" />
                    </fieldset>
                    <fieldset class="messages">
                        <label for="set_message_signout_success">Sign Out</label>
                        <input type="text" name="message_signout_success" id="set_message_signout_success" />
                        <input type="text" name="message_signout_fail" />
                    </fieldset>
                    <img src="resources/line.png" class="line"/>
                    
                    
                    <fieldset>
                        <label for="set_password">Password</label>
                        <input type="password" name="password" id="set_password" />
                    </fieldset>
                    <fieldset>
                        <label for="set_password_required">Password Required?</label>
                        <input type="checkbox" name="password_required" id="set_password_required" />
                    </fieldset>
                    <img src="resources/line.png" class="line"/>
                    
                    
                    <fieldset>
                        <label for="set_agree_before">Agree Before Sign In</label>
                        <input type="checkbox" id="set_agree_before" name="agree_before_signin" />
                    </fieldset>
                    <fieldset>
                        <label for="set_agreement_text">Set Agreement Text</label>
                        <textarea id="set_agreement_text" name="agreement_text"></textarea>
                    </fieldset>
                    <br/>
                    <div class="savestatus"><span></span></div>
					<input type="submit" class="submit" id="prepareButton" name="prepareButton" value="Save" />
			</form>
		</div>
	</div>
</div>		
		

<div id = maintext>
	<h1>Total Visitors Today</h1>  
	<h2>Tap on numbers for counter details</h2>
</div>

<div id = counters>
	<table cellpadding=40>
		<tr>
			<td>
				<div id="counter_in">
					<img id="in_1" src="resources/1/odometer-1-0.png"class="buttoninosx" onclick="changeType(1);"><img id="in_2" src="resources/2/odometer-2-0.png"class="buttoninosx" onclick="changeType(1);"><img id="in_3" src="resources/3/odometer-3-0.png"class="buttoninosx" onclick="changeType(1);">
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="counter_current" >
					<img id="current_1" src="resources/red_buttons/1/odometer-1-0.png" class="buttoninosx" onclick="changeType(2);" ><img id="current_2" src="resources/red_buttons/2/odometer-2-0.png" class="buttoninosx" onclick="changeType(2);"><img id="current_3" src="resources/red_buttons/3/odometer-3-0.png" class="buttoninosx" onclick="changeType(2);">
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div id="counter_out">
					<img id="out_1" src="resources/1/odometer-1-0.png" class="buttoninosx" onclick="changeType(3);"><img id="out_2" src="resources/2/odometer-2-0.png"class="buttoninosx" onclick="changeType(3);"><img id="out_3" src="resources/3/odometer-3-0.png" class="buttoninosx" onclick="changeType(3);">
				</div>
			</td>
		</tr>
	</table>
</div>


<p id="in">IN</p>
<p id="out">OUT</p>
<p id="current">Currently On<br/> &nbsp;&nbsp;&nbsp;Premesis</p>
