<link rel="stylesheet" href="css/jquery.ui.all.css">
<link rel="stylesheet" href="css/demos.css">
<link rel="stylesheet" href="css/chosen.css">
<style type="text/css">
h1 {text-align:center;
	color:#000000;
	font-size:3.5em}
p {text-align:center; color:#000000;font-size:1.8em;}
.chzn-results > li{
	text-align:left;
}
#selX5A_chzn {
	min-width:8em;
}
#search_container{background-color: #333333}
</style>

<div class="demo">

<h1>Thank you for visiting!</h1>  

<p id="signoutMessage">
Currently no visitors are signed in
</p>

<p>
	<select class="chosen" data-placeholder="Please enter your name" multiple="" tabindex="3" style="min-width:10em;">
	</select> <br>
	<a href="#" class="button" id="done">Sign Out</a>
	&nbsp;&nbsp;
	<a href="#" class="button">Back</a>
</p>
</div>
