<style type="text/css">
#done {
    position:relative;
    left:40%;
    border:1px solid #000000;
}
#scanner {
    position:relative;
    left:50%;
    margin-left: -5.65em;
    width: 8.5em;
    border:1px solid #000000;
    font-size:1.4em;
}
#or {
	position:relative;
	left:50%;
	margin-left: -1em;
	width:2em;
}
form > input[type="submit"] {
    position: relative;
    left: 50%;
    margin-left: -2.5em;
    width: 5em;
    border: 1px solid #aaa;
}

.tgroup {
    overflow: hidden;
    -webkit-transition: height 0.25s linear; 
}
/*
.tgroup.address {
    height: 400px;
}

.tgroup.vehicle {
    height: 240px;
}

.collapsed.tgroup {
    height: 80px;
}
*/
.collapsed.tgroup > div:not(:first-child) {
    display: none;
}

</style>

<div id="agreement">
    <div>
        <h2>Agreement</h2>
        <div class="text"></div>
        <a class="agree">Agree</a><a class="disagree">Disagree</a>
    </div>
</div>

<a class="qrcorner" href="#/scanner"></a>

<iframe src="/static/upload.html" style="display:none"></iframe>

<div id="signInContainer">
	<div align="center" style="font-size: 30pt;" id="title">Welcome!</div>
	<div id="signInDiv">
		<form class="signinform" id="signinsetup" onsubmit="saveGuest(event)" height="100%" left="0">
			<div id="first_name_div">
			<fieldset>
			  <label for="first_name">First Name</label>
			  <input type="text" name="first_name" />
			</fieldset>
			<br>
			</div>

			<div id="last_name_div">
			<fieldset>
			  <label for="last_name">Last Name</label>
			  <input type="text" name="last_name" />
			<br>
			</fieldset>
			<br>
			</div>
            
            <div id ="email_div">
            <fieldset>
              <label for="email">Email</label>
              <input type="email" name="email" />
            </fieldset>
            <br>
            </div>
			
			<div id ="company_div">
			<fieldset>
			  <label for="company">Company</label>
			  <input type="text" name="company" />
			</fieldset>
			<br>
			</div>
            
            <div id="phone_div">
            <fieldset>
              <label for="phone">Phone</label>
              <input type="text" name="phone" />
            </fieldset>
            <br>
            </div>

            <div class="address tgroup collapsed">
				<div id="address_1_div">
				<fieldset>
				  <label for="address">Address</label>
				  <input type="text" name="address_1" />
				</fieldset>
				<br>					
				</div>
				
				<div id="address_2_div">
				<fieldset>
			 		<label for="address2">Address Line 2</label>
				  <input type="text" name="address_2" />
				</fieldset>
				<br>
				</div>
	
				<div id ="city_div">
				<fieldset>
				  <label for="city">City</label>
				  <input type="text" name="city" />
				</fieldset>
				<br>
				</div>
				
				<div id ="province_state_div">
				<fieldset>
				  <label for="province_state">Province/State</label>
				  <input type="text" name="province_state" />
				</fieldset>
				<br>
				</div>
				
				<div id ="postal_zipcode_div">
				<fieldset>
				  <label for="postal_zipcode">Postal/Zip Code</label>
				  <input type="text" name="postal_zipcode" />
				</fieldset>
				<br>
				</div>
			</div>
            
            <div id ="guide_escort_name_div">
            <fieldset>
              <label for="guide_escort_name">Guide/Escort Name</label>
              <input type="text" name="guide_escort_name" />
            </fieldset>
            <br>
            </div>
			
			<div id="here_to_see_div">
			<fieldset>
			  <label for="hereToSee">Here To See</label>
			  <input type="text" name="here_to_see" />
			</fieldset>	
			<br>
			</div>
			
            <div class="vehicle tgroup collapsed">
				<div id ="vehicle_make_div">
				<fieldset>
				  <label for="vehicle_make">Vehicle Make</label>
				  <input type="text" name="vehicle_make" />
				</fieldset>
				<br>
				</div>
				
				<div id ="vehicle_color_div">
				<fieldset>
				  <label for="vehicle_color">Vehicle Colour</label>
				  <input type="text" name="vehicle_color" />
				</fieldset>
				<br>
				</div>
				
				<div id ="license_plate_div">
				<fieldset>
				  <label for="license_plate">License Plate</label>
				  <input type="text" name="license_plate" />
				</fieldset>
				<br>
				</div>
		    </div>
            
            <div class="custom_field">
            <fieldset>
                <label for="set_custom_field">CustomField1</label>
                <input type="text" id="set_custom_field" name="custom_field" />
            </fieldset>
            <br />
            </div>
            
            <div id="photo_capture_div">
            <fieldset>
                <label for="photo_capture">Badge Photo</label>
                <input type="hidden" name="photo_capture" />
                <canvas id="photo_canvas"></canvas>
                <input type="button" value="Take a Picture" id="take_picture" />
                <div id="emailBeforePhoto">
                    Please fill-out your email address before taking your photo.
                </div>
            </fieldset>
            <br/>
            </div>
            
            <div id="signature_capture_div">
            <fieldset>
              <label for="signature_capture">Signature</label>
              <input type="hidden" name="signature_capture" />
              <canvas id="signature_canvas"></canvas>
              <div id="signature_display">Tap here to sign</div>
            </fieldset>
            <br/>
            </div>

			<input type="submit" name="submit" value="Sign In" class="button" />
            <a href="#" class="button">Back</a>
				
		</form>
	</div>
	<br/>
</div>

