<a class="qrcorner" href="#/scanner"></a>

<div id="body" position="relative" style="background-color:#333333">
	<div id="mainContainer">
	    <h1 id="title">Welcome!</h1>
	    <h2 id="subtitle">All Visitors -- Please Sign In</h2>
		<div id="bgimage"></div>
		<div id="buttons">
		    <input class="quickUse" type="email" placeholder="Email Address" name="email" />
		    <br />
			<a href="#/signIn" class="login button signin">Sign In</a>
			<a href="#/signOut" class="login button signout">Sign Out</a>
			<a href="#/admin" class="adminButton" id=adminButton>i</a>
		</div>
	</div>
</div>
