<link rel="stylesheet" href="css/jquery.ui.all.css">
<link rel="stylesheet" href="css/demos.css">
<script src="js/src/jquery.ui.core.min.js"></script>
<script src="js/src/jquery.ui.widget.min.js"></script>
<script src="js/src/jquery.ui.position.min.js"></script>
<script src="js/src/jquery.ui.autocomplete.min.js"></script>
<script>
	$.widget( "custom.catcomplete", $.ui.autocomplete, {
		_renderMenu: function( ul, items ) {
			var self = this,
				currentCategory = "";
			$.each( items, function( index, item ) {
				if ( item.category != currentCategory ) {
					ul.append( "<li class='ui-autocomplete-category'>" + item.category + "</li>" );
					currentCategory = item.category;
				}
				self._renderItem( ul, item );
			});
		}
	});
	</script>
	<script>
	$(function() {
		var data = [
			{ label: "Joe Smith", category: "A" },
			{ label: "Test Man", category: "T" },
			{ label: "Rob Drimmie", category: "R" },
			{ label: "Victor Vucicevich", category: "V" },
			{ label: "Veronica Johnson", category: "V" },
			{ label: "Chris Sturgess", category: "C" },
			{ label: "Debbie Chen", category: "D" },
			{ label: "Shafkatul Haque", category: "S" },
			{ label: "Steven Smith", category: "S" }
		];
		
		$( "#search" ).catcomplete({
			delay: 0,
			source: data
		});
	});
	</script>

<style type="text/css">
#osx-modal-title {
	z-index:999999;
	color:#000;
	background-color:#ddd; border-bottom:1px solid #ccc;
	font-weight:bold; padding:16px 18px;
	font-size:3em;
	text-shadow:0 1px 0 #f4f4f4;
	position: relative;
	top:5px;
}
#main, .page {
background-color:#eee;
}
#title {
	position:relative;
	left:7%;
}
#search {
		font-size:2em;
			position:relative;
	left:7%;
		}
#text{
	font-size:2em;
		position:relative;
	left:7%;
	}
</style>

<body style="overflow-x: hidden;">
<div id = main>

<div id="osx-modal-title"><div id="title"></div></div>

<div id="signout_container">
    <div class="demo">
    <p><div id="text">Search</div><input type="text" id="search" value="" style="position:relative; z-index=999;"/>
    </div>
</div>
</div>
</body>